.main-image-block {
    width: 110%;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    position: relative;


    img {
        width: 100%;
    }
}

.list-body {
    //margin-top: -150px;
    //display: block;
    padding-top: 70px;
    position: absolute;
    top: 100px;
    //margin: auto;
    //margin-left: auto;
    //margin-right: auto;
    //padding-left: 10%;
    //padding-right: 10%;
    //padding: 48px 0;

}


